mat-grid-tile {
  background: lightblue;
}

table {
  width: 100%;
}

:host ::ng-deep {
  .mat-figure {
    align-items: start !important;
  }

  tbody {
    tr {
      cursor: pointer;
      &:hover {
        background-color: whitesmoke;
      }
      &.active {
        background-color: #FFF3E0;
      }
      td {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        &:not(:last-child) {
          padding-right: 1em;
        }
        &:nth-child(1) {
          width: 2em;
        }
        &:nth-child(3) {
          width: 4em;
        }
      }
    }
  }
}
