:host {
  display: block;

  ::ng-deep {
    .mat-figure {
      align-items: start !important;
    }

    tbody {
      tr {
        cursor: pointer;
        &:hover {
          @apply bg-gray-200;
        }
        &.active {
          @apply bg-orange-100;
        }
        td {
          padding-top: 0.5em;
          padding-bottom: 0.5em;
          &:not(:last-child) {
            padding-right: 1em;
          }
          &:nth-child(1) {
            width: 2em;
          }
          &:nth-child(3) {
            width: 5em;
          }
        }
      }
    }
  }
}

.topics {
  @apply border-r border-gray-300;

  table {
    width: 100%;
  }
}

.comments {
  padding: 1em;

  .topic, .comment {
    display: flex;
    padding: 1em;
    @apply border-b border-gray-300;

    img.avatar {
      border-radius: 100%;
      width: 3em;
      height: 3em;
      object-fit: cover;
      margin-right: 1em;
    }

    p {
    }
  }
}
