<div class="grid grid-cols-2 gap-0 h-full">
  <div class="topics">
    <table mat-table [dataSource]="dataSource" matSort>

      <tr mat-header-row *matHeaderRowDef="tableColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let topic; columns: tableColumns;" (click)="selectedTopic = topic" [ngClass]="{active: topic === selectedTopic}"></tr>

      <ng-container matColumnDef="body">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>トピック</th>
        <td mat-cell *matCellDef="let topic">{{ topic.body }}</td>
      </ng-container>

      <ng-container matColumnDef="done">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>完了</th>
        <td mat-cell *matCellDef="let topic">
          <mat-icon *ngIf="topic.done">done</mat-icon>
        </td>
      </ng-container>

    </table>
  </div>

  <div class="comments">
    <div class="topic">
      <img src="https://avatars2.githubusercontent.com/u/4360663" class="avatar">
      <p>{{ selectedTopic?.body }}</p>
    </div>
    <ng-container *ngFor="let comment of selectedTopic?.comments">
      <div class="comment">
        <img src="https://avatars2.githubusercontent.com/u/4360663" class="avatar">
        <p>{{ comment.body }}</p>
      </div>
    </ng-container>
  </div>
</div>
